@tailwind base;
@tailwind components;
@tailwind utilities;

/* INI WHATSAPP CONTACT PERSON BANG AKROM */
.wa-floating {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #25D366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 9999;
    text-decoration: none;
    transition: 0.3s ease;
}

.wa-floating:hover {
    transform: scale(1.1);
    background-color: #1ebe5b;
}
